In [1]:
# 
import pandas as pd
Data_set = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv")
print (Data_set.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1016395 entries, 0 to 1016394
Data columns (total 7 columns):
Unnamed: 0    1016395 non-null int64
Id            1016395 non-null int64
Name          1016395 non-null object
Year          1016395 non-null int64
Gender        1016395 non-null object
State         1016395 non-null object
Count         1016395 non-null int64
dtypes: int64(4), object(3)
memory usage: 54.3+ MB
None

In [6]:
# Delete the unamed_col
Data_set_2 = Data_set.copy()

del Data_set_2['Unnamed: 0']

print (Data_set_2.columns)
print (Data_set_2.info())

Index(['Id', 'Name', 'Year', 'Gender', 'State', 'Count'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1016395 entries, 0 to 1016394
Data columns (total 6 columns):
Id        1016395 non-null int64
Name      1016395 non-null object
Year      1016395 non-null int64
Gender    1016395 non-null object
State     1016395 non-null object
Count     1016395 non-null int64
dtypes: int64(3), object(3)
memory usage: 46.5+ MB
None

In [8]:
# Show the distribution of male and female
distribution_male_female = Data_set_2.Gender.value_counts()
print (distribution_male_female)

F    558846
M    457549
Name: Gender, dtype: int64

In [12]:
# Show the top 5 most prefreed names
top_5_names = Data_set_2.Name.value_counts().head()
print (top_5_names)

Riley     1112
Avery     1080
Jordan    1073
Peyton    1064
Hayden    1049
Name: Name, dtype: int64

In [35]:
# What is the medain name occuernce in data set
import numpy as np
Median_index_value =  (np.where(Data_set_2.Id == Data_set_2.Id.median() ))
print (Median_index_value)
Median_name = Data_set_2.loc[Median_index_value]
print (Median_name)
print (Data_set_2.Name[Median_index_value[0]])

(array([508197], dtype=int64),)
             Id   Name  Year Gender State  Count
508197  2811921  Kasey  2010      F    MO      6
508197    Kasey
Name: Name, dtype: object

In [61]:
# Distribution of male and female born count by states
Dist_F_M = pd.pivot_table(Data_set_2, values="Count",
                         index='State',
                         columns='Gender',aggfunc=np.count_nonzero)

print (Dist_F_M.head())

Gender      F      M
State
AK       2404   2587
AL       9878   8419
AR       7171   6475
AZ      14518  10820
CA      45144  31637